# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg
*.egg-info/
dist/
build/
.eggs/
.venv/
venv/
env/
ENV/

# Flask
instance/
.webassets-cache

# Logs
logs/
*.log

# OS
.DS_Store
Thumbs.db
*.swp
*.swo

# IDE
.vscode/
.idea/
*.code-workspace

# Env vars
.env
.env.*
!.env.example
